body{
    font: 15px/1.5 Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:#fff
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height: 37px;
    background:#fff;
    border:none;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-weight: bold;
}
header{
    background: #000000;
    color:#fff;
    padding-top:30px;
    min-height:70px;
    border-bottom:red 3px solid;
}
header a{
    color:#fff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}
 header ul{
     margin:0;
     padding:0;
 }

 header li {
     float:left;
     display:inline;
     padding: 0 20px 0 20px;
 }

 header #branding{
     float: left;
 }

 header #branding h1{
     margin:0;
 }

 header nav{
     float:right;
     margin-top:10px;
 }

 header .highlight, header .current a{
     color: red;
     font-weight:bold;
 }

 header a:hover{
     color:#ccc;
     font-weight:bold;
 }

 #hero{
     min-height:400px;
     background:url('images/Untitled-4.jpg') no-repeat -400px -400px;
     text-align: center;
     color: #fff;
 }

#hero h1{
    margin-top: 100px;
    font-size:55px;
    margin-bottom:10px;
}
#hero p{
    font-size: 30px;
}

#newsletter{
    padding:15px;
    color:#fff;
    background:#000000;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height: 25px;
    width:250px;
}
#newsletter input[type="name"]{
    padding:4px;
    height: 25px;
    width:250px;
}
#newsletter input[type="message"]{
    padding:4px;
    height: 25px;
    width:250px;
}

/*boxes*/
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float:left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img{
    width:300px;
    height: auto;
}
